
/* =============================================================
   GENERAL STYLES
    ============================================================ */

body{
	height: 150px;
	font-size: 100%;
	margin:3px;
	background: url("../../giphy.gif") no-repeat;
}
#mainPopup {
	position: relative;
	/*top: -175px;*/
	height: 150px;
	padding:15px;
	width: 250px;
	font-family:'Agency FB';
	letter-spacing: 1px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
}
h1 {
  font-family:'Agency FB';
  font-size: 2em;
}
.row{
  text-align: center;
}

/* =============================================================
    OTHERS
    ============================================================ */

#money{
	font-size: 20px;
}
.money-number{
  /*background-color: rgba(0, 0, 0, 0.4);*/
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
.myButton {
  background-color: rgba(0, 0, 0, 0.4);
  -moz-border-radius:41px;
  -webkit-border-radius:41px;
  border-radius:41px;
  border:2px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:'Agency FB';
  letter-spacing: 1px;
  font-size:15px;
  font-weight:bold;
  padding:3px 8px;
  text-decoration:none;
  position:relative;
  left: 35px;
  bottom: -10px;
}
.myButton:hover {
  background-color:black;
  color:white;
}
.myButton:active {
  position:relative;
  top:1px;
}

/* =============================================================
   COUNTDOWN STYLES
    ============================================================ */

#counter-default .timer-number {
  float: left;
  text-align: center;
  font-size: 21px;
  font-weight: 900;
  font-family:'Agency FB';
  color:#fff;
  line-height: 1;
  padding: 1.5px;
  padding-left: 16px;
}
.timer-text{
  text-align: center;
  padding: 3px;
  float: left
}

.timer-text1{
  font-size: 10px;
}

.timer-text2{
  font-size: 20px;
  float: left;
  position: relative;
  right: -100px;
}

/* =============================================================
  MEDIA QUERIES
    ============================================================ */

@media (max-width: 487px) {
    #headLine {
       font-size:40px;
    }
}
